<div class="comments-section ps-5 pe-1 pb-3">
  <div class="comment-list ps-3 pb-3">
    <% comment.comments.each do |comment| %>
      <%= render "comment", comment: comment, sub: true, nested: false %>
    <% end %>
  </div>
  <% unless edit %>
    <%= render "form", model: Comment.new, commentable: comment %>
  <% end %>
</div>
