<div class="card mb-4">
  <div class="card-body pb-1">
    <div class="card-text row pt-1 pb-2">
      <div class="col">
      <%= render "comment", comment: @comment %>
      </div>
    </div>
    <div class="comments-section pe-1 pb-3">
      <div class="comment-list pb-3">
        <% @comment.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      </div>
      <%= render "comments/form", commentable: @comment %>
    </div>
  </div>
</div>
