/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.pub-at {
  font-size: 14px;
}

textarea {
    border: none !important;
    resize: none;
}

body {
  background-color: rgb(232, 232, 232) !important;
}

.dropdown-actions {
  margin-top: -3.25rem;
}

i {
  font-size: 1.5rem;
}

#dropdown-requests {
  padding: 0 0.5rem 0.4rem 1.1rem;
}

.friend-request a {
  font-size: 1rem;
}

.friend-request i {
  font-size: 2rem;
}

i.bi-check:hover {
  color: green;
}

i.bi-x:hover {
  color: red;
}

#no-friend-requests {
  padding-right: 1.6rem;
  padding-top: 0.9rem;
}

.comment-body {
  background-color: rgb(242, 242, 242);
  border-radius: 2rem;
}

.comment-input {
  line-height: 2.3 !important;
}

.comment-actions {
  padding-bottom: 0.6rem;
  padding-left: 1rem;
}

.comment-dots {
  font-size: 1rem;
}

.go-back {
  font-size: 2rem;
}

.pointer {
  cursor: pointer;
}
