<% content_for :body do %>
<div class="card mb-4">
  <%= render "resources/go_back", reference: @comment, attribute: ".commentable" %>
  <div class="card-body pb-1">
    <div class="card-text row pt-1 pb-2">
      <div class="col">
        <%= yield :content %>
      </div>
    </div>
    <%= yield :comments %>
  </div>
</div>
<% end %>
<%= render template: "layouts/application" %>
